.description {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.description__image {
    background-image: url("../img/about-us-description/descriptionimage.webp");
    background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: calc(var(--index) * 16);
}

.description__content-container {
	max-width: 570px;
	margin: 0 auto;
}


@media only screen and (min-width: 768px) {
	.description {
		flex-direction: row;
		gap: 20px;
	}
	.description__image {
		flex: 0 1 50%;
	}
	.description__content {
		flex: 0 1 50%;
	}
  }
  
  @media only screen and (min-width: 991px) {
  }