.header__nav-container {
  background-color: var(--background-color);

  height: 75px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 6px;
}

.header__logo-container img {
  width: 115px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5%;
}

.header__schedule-socials,
.header__nav-list {
  display: none;
}

.header__nav-list a {
  text-decoration: none;
}
.header__nav-list a:hover {
  color: var(--button-opacity-color);
}
.header__menu-btn {
  cursor: pointer;
}

.header__nav-icon {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-text-color);
}

.header__menu-btn.active .header__nav-icon:nth-child(2) {
  opacity: 0;
}
.header__menu-btn.active .header__nav-icon:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header__menu-btn.active .header__nav-icon:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header__nav-menu {
  position: fixed;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.header__nav-menu.active {
  .header__schedule-socials,
  .header__nav-list {
    display: block;
  }
}

.header__nav-list-item {
  margin: 16px 0;
  
}
@media (min-width: 990px) {
  .header__menu-btn {
    display: none;
  }
  .header__schedule-socials {
    display: flex;
    flex-direction: row;
    background-color: var(--button-opacity-color);
    
  }
  .header__socials ul {
    list-style: none;
    text-decoration: none;
    display: inline;
  }
  .header__schedule-socials .header__schedule {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    align-items: center;
  }
  .header__socials {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
