.footer__nav {
  background-color: var(--footer-background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer__nav a {
  text-decoration: none;
}
.footer__nav h4 {
  font-size: 17px;
  color: var(--main-text-color);
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-weight: 400;
  position: relative;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}
.footer__container ul {
  list-style: none;
}
.footer-info {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 24px;
  font-size: 12px;
  color: var(--tertiary-text-color);
  font-weight: 400;
  font-family: var(--primary-font);
  border-bottom: 1px solid var(--footer-divider-underline-color);
}
.footer-info__col {
  display: flex;
  flex-basis: 100%;
  padding: 20px;
}
.footer-info img {
  width: 40px;
  margin-right: 15px;
  margin-left: 0;
}
.footer-main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  border-bottom: 1px solid var(--footer-divider-underline-color);
}
.footer-main__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.footer-main p {
  font-size: 12px;
  color: var(--tertiary-text-color);
  font-weight: 400;
  font-family: var(--primary-font);
}
.footer-main__logo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-main__logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.footer-main__logo-block img {
  width: 110px;
  height: 40px;
}
.footer-main__logo-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-main__logo-links ul li a:hover {
  color: var(--footer-hover-links-color);
}
.footer-main__logo-links__nav li a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: calc(0.1 * 1em);
  text-decoration: underline;
  color: var(--main-text-color);
  font-family: var(--primary-font);
}
.footer-main__links,
.footer-main__links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.footer-main__links ul li {
  display: flex;
  align-items: center;
}
.footer-main__links ul li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.footer-main__links ul li a,
.footer-main__links ul li p {
  display: inline-block;
  font-family: var(--primary-font);
  font-size: 12px;
  color: rgb(155, 158, 164);
}
.footer-main__links {
  display: flex;
}
.footer-main__links ul li a {
  font-weight: 600;
}
.footer-main__links ul li a:hover{
  color: var(--footer-main-menu-links-hover-color);

}
.footer-main__links h4 {
  font-size: 17px;
  color: var(--main-text-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  position: relative;
}
.footer-main__links h4::after {
  content: "";
  display: block;
  background: var(--footer-hover-links-color);
  margin-top: 10px;
  width: 100%;
  height: 3px;
}
.footer-main__logo-links__social {
  display: flex;
  flex-direction: row;
  width: 155px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-info__col {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1012px) {
  .footer-main {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .footer-main__links,
  .footer-main__links ul {
    text-align: left;
    align-items: flex-start;
  }
  .footer-info__col {
    flex-basis: 33%;
  }

  .footer-main__block {
    flex-direction: row;
    text-align: left;
  }

  .footer-main__logo-block {
    align-items: flex-start;
    text-align: left;
  }

  .footer-main__logo-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
