.content {
  position: relative;
  background-image: url(../img/special-offers/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.accessory-img {
  display: block;
  margin: auto;
  text-align: center;
  width: 70px;
}

.title {
  font-size: 11px;
  color: var(--title-text-color);
  font-family: var(--primary-font);
  line-height: 32px;
  position: relative;
  padding-top: 95px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  font-size: 34px;
  color: var(--main-text-color);
  font-family: var(--secondary-font);
  line-height: 40.8px;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.text-under-title {
  font-size: 19px;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  position: relative;
  margin: auto;
  width: 80%;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.meal-img {
  width: 270px;
  height: 229.8px;
  object-fit: cover;
  object-position: center bottom;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.cocktail-img {
  width: 270px;
  height: 229.8px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.girls-img {
  width: 270px;
  height: 229.8px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.white-block {
  width: 270px;
  height: 387.0px;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom: -10px;
  max-width: 100%;
}

.top-title {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-style: italic;
  text-align: left;
  width: fit-content;
  font-weight: bold;
  margin-bottom: 20px; 
  margin-top: 20px;
  padding-left: 20px;
}

.block-title {
  font-size: 22px;
  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
  text-align: left;
  width: fit-content;
  line-height: 28.6px;
  margin-bottom: -20px;
  margin-top: 20px;
  padding-left: 20px;
}

.block-text {
  font-size: 17px;
  color: var(--tertiary-text-color);
  font-family: var(--primary-font);
  text-align: left;
  line-height: 1.6;
  width: fit-content;
  position: relative;
  top: 50px;
  padding-left: 20px;
}

.contacts__button {
  background-color:#ff5d28; 
  color: #ffffff; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  font-weight: bold; 
  padding: 14px 20px; 
  border: none; 
  border-radius: 7px 25px 25px 25px;
  cursor: pointer;
  text-decoration: none; 
  transition: 0.3s; 
  position: relative;
  top: 90px;
  margin-left: 20px;
}

.cupon-button{
  margin-top: 40px;
  text-align: center;
}

.cupon-button a {
  font-family: var(--primary-font);
  background-color: var(--button-background-color);
  padding: 20px 50px;
  border-radius: 7px 25px 7px 25px;
  text-decoration: none;
  color: var(--button-light-text-color);
  display: inline-block;
  margin-bottom: 40px;
}

.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: .4s ease-in-out;
}

.pop-up-conteiner {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop-up-body {
  margin: auto;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
}

.pop-up-body p{
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 600px;
  color: rgb(189, 59, 8);
  margin-bottom: 30px;
}

.pop-up-body input {
  display: block;
  margin: 25px auto 0 auto;
  width: 330px;
  padding: 17px 20px;
  background-color: rgb(248, 142, 93);
  border-radius: 10px;
  border: none;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  color:rgb(32, 31, 31);
}

.pop-up-body button {
  cursor: pointer;
  display: block;
  width: 230px;
  margin: 60px auto 0 auto;
  padding: 20px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: rgb(224, 195, 150);
  border-radius: 10px;
  background-color: rgb(235, 109, 37);
  margin-top: 30px;
}

.pop-up-close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}

.pop-up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0,0,0,0.8);
}

.blocks-of-images {
  display: grid;
  gap: 0;
  border: 1px;
  padding: 5px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
.blocks-of-images {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 0px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.images {
  position: relative;
}

.special-offer-weekday,
.special-offer-sweet,
.discount {
  display: flex;
  flex-direction: column;
  gap: 0px; 
  align-items: end;
}

.white-block {
  background-color: white;
  padding: 20px;
  width: 355.6px; 
  height: 325.01px; 
  margin-left: 0px;
  margin-bottom: 0px;
}

.girls-img,
.cocktail-img,
.meal-img {
  display: flex;
  width: 355.6px;
  height: 325.01px; 
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
}

@media (min-width: 992px) {
  .blocks-of-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    width: 100%; 
    max-width: 1170px; 
    margin: 0 auto; 
    margin-bottom: 20px;
  }

  
  .special-offer-weekday,
  .special-offer-sweet,
  .discount {
    display: grid;
    gap: 0px; 
    width: 390px;
    height: 354px; 
    align-items: end;
  }
  
  .white-block {
    background-color: white;
    width: 390px;
    height: 354px;  
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .girls-img,
  .cocktail-img,
  .meal-img {
    width: 390px;
    height: 354px; 
    margin-left: 0px;
    margin-bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}