.index-about-us {
  margin: 50px 0;
  min-height: 781px;
}

.index-about-us__content {
  display: grid;
  scroll-behavior: smooth;
  gap: 50px;
}

.index-about-us__container {
  max-width: 1200px;
  padding: 50px 30px 110px;
  margin: 0 auto;
}

.index-about-us__picture {
  max-height: 621px;
}

.index-about-us__picture img {
  max-height: 100%;
  object-fit: contain;
}

.index-about-us__aside-picture {
  
   /*padding-top: 80px;*/
  /*width: 100%;*/
  /*position: relative;*/
}
.index-about-us__heading {
  font-family: var(--primary-font);
  font-size: 11px;
  color: var(--title-text-color);
  font-weight: 900;
  text-align: left;
}
.index-about-us__name {
  font-family: var(--secondary-font);
  color: var(--main-text-color);
  font-size: 34px;
  font-weight: 400;
  text-align: left;
}
.index-about-us__accessory-sign {
  display: inline;
  margin: auto;
  text-align: left;
  width: 70px;
  margin-left: 15px;
}
.index-about-us__description-bold {
  font-family: var(--primary-font);
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  color: var(--secondary-text-color);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}
.index-about-us__description {
  padding-right: 15px;
  padding-left: 15px;
  font-family: var(--primary-font);
  color: var(--tertiary-text-color);
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 50px;
}
index-about-us__contact-button {
  padding: 15px 30px 15px 30px;
}
.index-about-us__button {
  background-color: var(--button-background-color);
  color-scheme: var(--button-light-text-color);
  padding: 16px 30px;
  border-radius: 7px 25px 25px 25px;
  background: var(--button-background-color);
  color: var(--button-light-text-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .index-about-us {
    max-height: 850px;
    position: relative;
  }

  .index-about-us__bg-decoration {
    background-image: url(../img/about-us-on-main-page/back-passion-for-food-picture.png);
    background-position: 55% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .index-about-us__picture img {
    width: 85%;
  }

  .index-about-us__content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;*/
  }
  .index-about-us__description-bold {
    padding-bottom: 15px;
  }
}