.content {
  position: relative;
  background-image: url(../img/special-offers/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.accessory-img {
  display: block;
  margin: auto;
  text-align: center;
  width: 70px;
}

.title {
  font-size: 11px;
  color: var(--title-text-color);
  font-family: var(--primary-font);
  line-height: 32px;
  position: relative;
  padding-top: 95px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  font-size: 34px;
  color: var(--main-text-color);
  font-family: var(--secondary-font);
  line-height: 40.8px;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.text-under-title {
  font-size: 19px;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  position: relative;
  margin: auto;
  width: 80%;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.meal-img {
  width: 270px;
  height: 229.8px;
  object-fit: cover;
  object-position: center bottom;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.cocktail-img {
  width: 270px;
  height: 229.8px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.girls-img {
  width: 270px;
  height: 229.8px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.white-block {
  width: 270px;
  height: 387.0px;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom: -10px;
  max-width: 100%;
}

.top-title {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-style: italic;
  text-align: left;
  width: fit-content;
  font-weight: bold;
  margin-bottom: 20px; 
  margin-top: 20px;
  padding-left: 20px;
}

.block-title {
  font-size: 22px;
  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
  text-align: left;
  width: fit-content;
  line-height: 28.6px;
  margin-bottom: -20px;
  margin-top: 20px;
  padding-left: 20px;
}

.block-text {
  font-size: 17px;
  color: var(--tertiary-text-color);
  font-family: var(--primary-font);
  text-align: left;
  line-height: 1.6;
  width: fit-content;
  position: relative;
  top: 50px;
  padding-left: 20px;
}

.contacts__button {
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    left: 20px;
    transition: background-color .6s ease;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: calc(50% + 10px); 
      left: calc(50% + 10px);
      transform-style: flat;
      transform: translate3d(-50%,-50%,0);
      background: rgba(white,.1);
      border-radius: 100%;
      transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#FC6E51,7%);
    }
    &:active {
      &:after {
        width: 300px;
        height: 300px;
      }
    }
  }

.blocks-of-images {
  display: grid;
  gap: 0;
  border: 1px;
  padding: 5px;
  margin-bottom: 105px;
}

@media (min-width: 768px) {
.blocks-of-images {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 0px;
  flex-wrap: wrap;
  margin-bottom: 105px;
}

.images {
  position: relative;
}

.special-offer-weekday,
.special-offer-sweet,
.discount {
  display: flex;
  flex-direction: column;
  gap: 0px; 
  align-items: end;
}

.white-block {
  background-color: white;
  padding: 20px;
  width: 355.6px; 
  height: 325.01px; 
  margin-left: 0px;
  margin-bottom: 0px;
}

.girls-img,
.cocktail-img,
.meal-img {
  display: flex;
  width: 355.6px;
  height: 325.01px; 
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
}

@media (min-width: 992px) {
  .blocks-of-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    width: 100%; 
    max-width: 1170px; 
    margin: 0 auto; 
    margin-bottom: 105px;
  }

  
  .special-offer-weekday,
  .special-offer-sweet,
  .discount {
    display: grid;
    gap: 0px; 
    width: 390px;
    height: 354px; 
    align-items: end;
  }
  
  .white-block {
    background-color: white;
    width: 390px;
    height: 354px;  
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .girls-img,
  .cocktail-img,
  .meal-img {
    width: 390px;
    height: 354px; 
    margin-left: 0px;
    margin-bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}