

.content-italian {
  min-height: 800px;
  max-height: 2000px;
  position: relative;
}

.background-italian {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%; 
  max-height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
.middle-background-italian {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: #fff;
  z-index: -2;
}
.top-background-italian {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bot-background-italian {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.italian-content{
  position: absolute;
  height: 100%;
  width: 100%;
}
.title-italian {
  font-size: 11px;
  color: var(--title-text-color);
  font-family: var(--primary-font);
  line-height: 32px;
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}


.blocks-of-images-italian {
  display: grid;
  gap: 0;
  border: 1px;
  padding: 5px;
  margin-bottom: 20px;
}

.image-column{
  padding: 0 15px;
  max-width: 100%;
  max-height: 515px;
  padding: 15px;
}
.wrapper-first-photo{
  position: relative;
  height: 100%;
}
.italian-drink{
  max-width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
  position: relative;
}
.background-overlay_2z6 {
  position: absolute;
  top:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
}
.italian-food{
  max-width: 100%;
  max-height: 248px;
  position: relative;
}
.italian-food-img{
  width:100%;
  height: 100%;
  position: relative;
}
.what-to-expect__name-italian {
  font-family: var(--secondary-font);
  color: var(--main-text-color);
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  padding-top: 20px;
  position: relative;
}
.block-text-italian {
  font-size: 17px;
  color: var(--tertiary-text-color);
  font-family: var(--primary-font);
  text-align: left;
  line-height: 1;
  width: fit-content;
  position: relative;
  padding-bottom: 20px;
}
.contacts__button-italian {
  background-color:#ff5d28; 
  color: #ffffff; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  font-weight: bold; 
  padding: 14px 20px; 
  border: none; 
  border-radius: 7px 25px 25px 25px;
  cursor: pointer;
  text-decoration: none; 
  transition: 0.3s; 
  position: relative;

}

@media (min-width: 1000px) {
  .content-italian {
    min-height: 800px;
    max-height: 1200px;
    position: relative;
  }
  
  .background-italian {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%; 
    max-height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .middle-background-italian {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: #fff;
    z-index: -2;
  }
  .top-background-italian {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .bot-background-italian {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  
  .italian-content{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .title-italian {
    font-size: 11px;
    color: var(--title-text-color);
    font-family: var(--primary-font);
    line-height: 32px;
    position: relative;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
  }
  
  
  .blocks-of-images-italian {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    max-width: 1200px; 
    margin: auto ; 
    padding: 0 120px;
    position: relative;
  }
  
  .image-column{
    padding: 0 15px;
    max-width: 400px;
    height: 515px;
  }
  .wrapper-first-photo{
    position: relative;
    height: 100%;
  }
  .italian-drink{
    max-width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 8px;
    position: relative;
  }
  .background-overlay_2z6 {
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 8px;
  }
  .italian-food{
    max-width: 100%;
    max-height: 248px;
    position: relative;
  }
  .italian-food-img{
    width:100%;
    height: 100%;
    position: relative;
  }
  .what-to-expect__name-italian {
    font-family: var(--secondary-font);
    color: var(--main-text-color);
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
    position: relative;
  }
  .block-text-italian {
    font-size: 17px;
    color: var(--tertiary-text-color);
    font-family: var(--primary-font);
    text-align: left;
    line-height: 1;
    width: fit-content;
    position: relative;
    padding-bottom: 20px;
  }
  .contacts__button-italian {
    background-color:#ff5d28; 
    color: #ffffff; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    padding: 14px 20px; 
    border: none; 
    border-radius: 7px 25px 25px 25px;
    cursor: pointer;
    text-decoration: none; 
    transition: 0.3s; 
    position: absolute;
    bottom: 10px;
  }
  
}
