.menu__section-heading{
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    color: var(--title-text-color)
}

.item__name__heading{
    font-size: 34px;
    font-family: "Vollkorn", serif;
    color: var(--main-text-color);
}

.item__name{
    font-weight: normal;
    font-size: 22px;
    font-family: "Vollkorn", serif;
    color: var(--main-text-color);
}
.item__description{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color:var(--tertiary-text-color);
}

.item__price{
    font-weight: bold;   
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:var(--title-text-color);
}

.img__decor{
   height: 40px;
}

.menu__list{
    display: grid;
}

@media(min-width: 768px){

    .menu__list{
        grid-template-columns: 1fr 1fr;
    }

}
