.menu {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    padding-top: 95px;
    padding-bottom: 30px;
    max-width: 1200px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.menu__section-heading{
    text-align: left;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1.1px;
    color: var(--title-text-color);
    text-transform: uppercase;
}

.item__name__heading{
    text-align: left;
    font-family: var(--secondary-font);
    color: var(--main-text-color);
    font-size: 34px;
    font-weight: 400;
    margin-top: 20px;
}

.item__name{
    font-weight: normal;
    font-size: 22px;
    font-family: "Vollkorn", serif;
    color: var(--main-text-color);
}
.item__description{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color:var(--tertiary-text-color);
}

.item__price{
    font-weight: bold;   
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:var(--title-text-color);
}

.img__decor{
   height: 40px;
}

.menu__list{
    display: grid;
}

@media(min-width: 768px){

    .menu__list{
        grid-template-columns: 1fr 1fr;
    }

}
