.content {
  position: relative;
  background-image: url(../img/special-offers/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.accessory-img {
  display: block;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 11px;
  color: #ff5d28;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  position: relative;
  padding-top: 95px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  font-size: 34px;
  color: #4b566a;
  font-family: "Vollkorn", serif;
  line-height: 40.8px;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.text-under-title {
  font-size: 19px;
  color: #82868f;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin: auto;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.meal-img {
  width: 272px;
  height: 229.8px;
  object-fit: cover;
  object-position: center bottom;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.cocktail-img {
  width: 272px;
  height: 229.8px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.girls-img {
  width: 272px;
  height: 229.8px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.white-block {
  width: 272px;
  height: 389.962px;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom: -10px;
  max-width: 100%; /* Максимальна ширина білих блоків */
}

.top-title {
  font-size: 14px;
  color: #82868f;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: left;
  width: fit-content;
  font-weight: bold;
  line-height: 19.32px;
  margin-bottom: 10px;
}

.block-title {
  font-size: 22px;
  color: #4b566a;
  font-family: "Vollkorn", serif;
  text-align: left;
  width: fit-content;
  line-height: 28.6px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.block-text {
  font-size: 17px;
  color: #9b9ea4;
  font-family: "Roboto", sans-serif;
  text-align: left;
  width: fit-content;
  line-height: 19.32px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blocks-of-images {
  display: grid;
  gap: 0;
  border: 1px solid var(--border-color);
  padding: 5px;
}

@media (min-width: 320px) {
  .blocks-of-images {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .blocks-of-images {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .blocks-of-images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1027px) {
  .blocks-of-images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
