<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us Page | Restaurant</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/about-us.css">
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.header-nav.partial.html"
      ></nav>
      <!-- <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.header-hero.partial.html"
      ></div> -->
    </header>

    <main>
      <!-- <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="about-us.our-story.partial.html"
    ></section> -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.description.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.our-team.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.our-space.partial.html"
        ></section>
    </main>

    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.footer-nav.partial.html"
      ></nav>
    </footer>
    <script type="module" src="js/about-us.js"></script>
  </body>
</html>
